<section class="profile-section d-flex align-items-end">
</section>

<section>
  <div class="container py-5">
    <form action="/update-profile" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-4 ">
          <div class="card mb-4">
            <div class="card-body text-center">
              <div id="profile">
                {{#if userData.profileImage}}
                <img src="{{userData.profileImage}}" alt="">
                {{else}}
                <img src="https://icon-library.com/images/profile-image-icon/profile-image-icon-24.jpg" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                {{/if}}
              </div>

              <div class="d-flex justify-content-center mt-1">
                <a href=""> <label for="img"><i class="far fa-edit "></i></label></a>
                <input type="file" name="profilepic" id="img" style="display:none" onchange="previewProfilePic(event)">
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="firstname" class="form-control p-0 m-0 border-light shadow-sm"
                    value="{{userData.firstname}}">
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="lastname" class="form-control p-0 m-0 border-light shadow-sm"
                    value="{{userData.lastname}}">
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="email" class="form-control p-0 m-0 border-light shadow-sm"
                    value="{{userData.email}}">
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="phoneno" class="form-control bg-white p-0 m-0 border-light shadow-sm"
                    value="{{userData.phoneno}}" readonly>
                </div>
              </div>


              <div class="row mb-2">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="address" class="form-control p-0 m-0 border-light shadow-sm"
                    value="{{userData.address}}">
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-sm-3">
                  <p class="mb-0">Licence Photo</p>
                </div>
                <div class="col-sm-6">
                  <div id="licence" class="mb-2">
                    {{#if userData.licenceImage}}
                    <img src="{{userData.licenceImage}}" alt="">
                    {{/if}}
                  </div>

                  <input class="form-control form-control-sm bg-white shadow-sm" type="file"
                    onchange="previewlicence(event)" id="licenceimg" name="licenceimg">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-outline-primary btn-sm rounded-1 shadow-sm">Update
                    Profile</button>
                </div>
             <p ><a class="text-decoration-none" href="/change-password">Change Password</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>

  </div>
</section>